doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | Technoter Presentation

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 E-Blue, The Real Software
        h2 OKOKOKKOKOK
        
      section
        h2 Latar Belakang
        ul.bullet
            br
            li Film Home Alone 3
            li Keresahan kami ketika harus mencari <i>remote</i> TV di saat sedang ingin menonton TV <i>atau</i>
            li Saat harus mecari remote <i>AC</i> di saat sedang kelelahan pulang dari kampus

      section
        h2 Tujuan
        ul.bullet
            br
            li Memudahkan orang untuk menyalakan semua alat elektronik dengan satu <i>device</i> saja, yaitu <i>SmartPhone</i>
            li Menghemat biaya untuk membeli <i>remote</i> untuk setiap alat elektronik

      section
        h2 Cara Kerja
        ol.bullet
            br
            li Semua alat elektronik akan ditanamkan sebuah <i>chip</i> yang nantinya akan didaftarkan di <i>CenterMachine</i>
            li <i>SmartPhone</i> kita akan terhubung dengan <i>CenterMachine</i>
            li Ketika kita menekan on/off pada menu salah satu alat elektronik, maka <i>SmartPhone</i> kita akan mengirimkan sinyal ke <i>CenterMachine</i>
            li <i>CenterMachine</i> akan melanjutkan sinyal tersebut ke alat elektronik

      section
        h2 User Requirements
        ul.bullet
            br
            li Hal-hal yang harus dimiliki oleh <i>user</i> untuk dapat menggunakan <i>Software</i> ini
            li Bukan hanya berupa materi atau benda, tapi bisa berupa pengetahuan, pengalaman atau sejenisnya

      section
        h2 User Requirements (Cont..)
        ul.bullet
            br
            li Alat-alat elektronik yang nantinya akan kita kendalikan dari <i>smartphone</i>
            li <i>Smartphone</i> yang akan mengendalikan setiap alat elektronik
            li Pengetahuan <i>user</i> akan cara penggunaan <i>smartphone</i>

      section
        h2 System Requirements
        ul.bullet
            br
            li Komponen-komponen yang dibutuhkan oleh <i>system</i> untuk dapat menjalankan <i>software</i>
            li Jika satu saja komponen ini tidak ada, maka <i>software</i> tidak akan dapat bekerja

      section
        h2 System Requirements (Cont..)
        ul.bullet
            br
            li <i>Bluetooth Connection</i>
            li <i>DataBase</i>
            li <i>Operating System</i>
            li ???

      section
        h2 System Requirements (Cont..)
        h3 <i>Bluetooth Connection</i>
        ul.bullet
            br
            li Penghubung setiap <i>smartphone</i> dengan <i>CenterMachine</i>
            li Penghubung <i>CenterMachine</i> dengan setiap alat elektronik

      section
        h2 System Requirements (Cont..)
        h3 <i>DataBase</i>
        ul.bullet
            br
            li Ditanamkan di <i>CenterMachine</i>
            li Berisi ID setiap chip yang ditanamkan ke setiap alat elektronik

      section
        h2 System Requirements (Cont..)
        h3 <i>Operating System</i>
        ul.bullet
            br
            li <i>WindowsPhone</i>
            li <i>Android</i>

      section
        h2 Functional Requirements
        ul.bullet
            br
            li Menu, fitur atau pilihan yang disediakan di sebuah <i>software</i>
            br
            li Untuk <i>software</i> ini :
            li Tampilan Awal
            li Fitur On/Off
            li Fitur Konfigurasi
          
      section 
        h2 Functional Requirements (Cont..)
        h3 Tampilan Awal
        ul.bullet
            br 
            li Tampilan awal ketika kita membuka <i>software</i> E-Blue
            li Akan menampilkan semua fitur yang disediakan oleh <i>software</i>

      section
        h2 Functional Requirements (Cont..)
        h3 Fitur On/Off
        ul.bullet
            br
            li Fitur ini berfungsi untuk meng-aktifkan alat elektronik
            li ...
            li Juga untuk me-non-aktifkan alat elektronik

      section
        h2 Functional Requirements (Cont..)
        h3 Fitur Konfigurasi
        ul.bullet
            br
            li Fitur ini optional dan bisa berbeda untuk setiap alat elektronik
            li Untuk TV, Konfigurasi Volume dan Konfigurasi Channel
            li Untuk Kipas Angin, Swing Options dan Speed Options

      section
        h2 System Engineering
        ul.bullet
            br
            li Merupakan sebuah sarana, media atau cara untuk dapat melihat cara kerja sistem kita dari beberapa aspek
            br
            li Terdiri dari :
            li Data Architecture
            li Application Architecture
            li Technologi Architecture

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild